/* ==========================================================================
   Variables
   ========================================================================== */


/* Colors
   ========================================================================== */
$color-light-lter: #fbfcfd;
$color-light-lt:   #f7f8fa;
$color-light:      #ecf1f4;
$color-light-dk:   #e6e6e6;
$color-light-dker: #c9cbcf;

$color-dark-lter: #B3B6BC;
$color-dark-lt:   #858990;
$color-dark:      #61656b;
$color-dark-dk:   #2a2929;

$color-brand:      #f43d3c;

$color-info:       #5dbff5;
$color-danger:     #ff5590;
$color-success:    #54C03C;
$color-warning:    #F79D40;


/* Fonts
   ========================================================================== */
$font-size-base: 14px;

$font-light: 'Avenir Light', sans-serif;
$font-book: 'Avenir Book', sans-serif;
$font-medium: 'Avenir Medium', sans-serif;
$font-heavy: 'Avenir Heavy', sans-serif;
$font-black: 'Avenir Black', sans-serif;
$font-source: 'Source Code Pro', sans-serif;
